<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ethical Hacking Project</title>
    <style>
        /* Add CSS styles here */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <form method="POST" action="/run_web_script">
        <label for="urlInput">Enter URL for location lookup:</label>
        <input type="text" name="website" placeholder="google.com">
        <button type="submit">Get Location</button><br>
    </form>

    <form method="POST" action="/get_sec_headers">
        <label for="urlInput">Enter URL for headers:</label>
        <input type="text" name="headers" placeholder="google.com">
        <button type="submit">Get Headers</button><br>
    </form>

    <form method="POST" action="/portscan">
        <label for="targetInput">Enter IP for portscanning:</label>
        <input type="text" name="target" placeholder="Enter IP">
        <button type="submit">PortScan</button><br>
    </form>

    <form method="POST" action="/dns_sec_script">
        <label for="targetInput">Enter domain for dns SEC validation:</label>
        <input type="text" name="domain" placeholder="ex: google.com">
        <button type="submit">DNS SEC validation</button><br>
    </form>

    <form method="POST" action="/whois_script">
        <label for="targetInput">Enter domain for whois lookup:</label>
        <input type="text" name="domain" placeholder="ex: google.com">
        <button type="submit">whois lookup</button><br>
    </form>

    <form method="POST" action="/scapy_script">
        <label for="targetInput">Enter IP range for network scan:</label>
        <input type="text" name="ipRange" placeholder="ex: 192.168.1.0/24">
        <button type="submit">network scan - SCAPY</button><br>
    </form>

    <form method="POST" action="/arperMITM_script">
        <label for="targetInput">Man in the Middle:</label>
        <input type="text" name="victim" placeholder="victim IP">
        <input type="text" name="gateway" placeholder="gateway IP">
        <input type="text" name="interface" placeholder="interface ex: eth0">        
        <button type="submit">ARP execute</button><br>
    </form>

    <form method="POST" action="/sniffForCredentials_script">
        <label for="targetInput">Enter ports to sniff plaintext credentials on:</label>
        <input type="text" name="port1" placeholder="ex: 80">
        <input type="text" name="port2" placeholder="ex: 443">
        <button type="submit">start sniff</button><br>
    </form>

    {% if results_json %}
    <h1>Results</h1>
    <table>
        <thead>                
            <tr>
                <th>Header</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in results_json.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
</body>
</html>
